.main__qs{
    background-color: #0B610B;
display: flex;
justify-content: space-around;
align-items: center;
padding: 30px;

    &--imagen{
        width: 500px;
    }

    &--texto{
        padding: 0rem 2rem;
        // cambiamos a 75% para que ocupe el 75% del contenedor 
        // esto fixea el problema de que la pantalla de quienes somos tenga un scroll horizontal en ciertas resoluciones
        width: 75%;
    }
}
